<div class="about-page">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>About</h1>
      <p>PoGoBag is an open source application was inspired by a need for an easy and web-accessible application to view your Pok&eacutemon Go Pokemon and items. PoGoBag is also built with Ruby on Rails.</p>
    </div> 
  </div>
</div>
