<div class="about-page">
  <h1>About</h1>
  <p>PoGoBag is an open source application that was inspired by a need for an easy and web-accessible application to view and share your Pok&eacutemon Go Pokemon. Trainer and Pok&eacute;mon data is updated whenever a user logs in, which means you can only see the pokemon of those who have logged in. For Google users, data is refreshed every minute (meaning only one login required to see your updated bag)</p>
  <p> PoGoBag is built with Ruby on Rails. <a href="https://github.com/dphuang2/PoGoBag">Github</a> </p>

  <h3>Donations</h3>
  <p> As of right now, the owner is paying out of pocket to run this website. Any donation is highly appreciated and will go towards making the server better! </p>

  <%= render 'static_pages/donate' %>

</div>
