<div class="about-page">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>About</h1>
      <p>PoGoBag is an open source application that was inspired by a need for an easy and web-accessible application to view and share your Pok&eacutemon Go Pokemon. </p>
      <p> PoGoBag is built with Ruby on Rails. <a href="https://github.com/dphuang2/PoGoBag">Github Repo</a> </p>
    </div> 
  </div>
</div>
