<div class="home-page-wrap"
     style="background-image: url(<%=image_path 'background-home.jpg'%>)">
  <div class="container">
    <div class="home-page">
      <div class="landing-title">
        <h1><%= image_tag 'itemstorageupgrade.1.png' %>PoGoBag</h1>
        <h3>A seriously powerful Pok&eacute;mon Go analytical tool!</h3>
      </div>
      <div class="row">
        <div class="col-md-push-8 col-md-4">
          <%= render 'sessions/login'%>
        </div>
        <div class="col-md-pull-4 col-md-8">
          <div class="features-list">
            <ul>
              <li><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>See the top Pok&eacute;mon in the world</li>
              <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Recieve a persistent and constantly updating bag link on login (Feature only for Google accounts)</li>
              <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>All data is refreshed every 5 minutes!</li>
              <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Only one login required!</li>
              <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>Share your Pok&eacute;mon using your own unique link</li>
              <li><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search for other trainers</li>
              <li><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>See your Pok&eacute;mon's IV values</li>
              <li><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Order by IV Perfection, CP, Recent, Health, Attack, Defense, Stamina, Name, Battles Attacked, Battles Defended, Height, and Weight </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
