<div class="home-page">
  <div class="landing-title">
    <h1>PoGoBag
    <a href="https://github.com/dphuang2/PoGoBag" class="btn btn-primary"> Github </a>
    </h1>


    <h3>Share your pokemon bag!</h3>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="features-list">
        <h3>Features</h3>
        <ul>
          <li>See your pokemon's IV values</li>
          <li>Order by IV</li>
          <li>Share you bag with others</li>
          <li>See your item storage</li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="features-image">
        <%= image_tag("bag.png") %>
      </div>
    </div>
  </div>
</div>
