require 'poke-api'
require 'httpclient'

clnt = HTTPClient.new
body = {
  grant_type: 'authorization_code',
  redirect_uri: 'urn:ietf:wg:oauth:2.0:oob',
  scope: 'openid email https://www.googleapis.com/auth/userinfo.email',
  client_secret: 'NCjF1TLi2CcY6t5mt0ZveuL7',
  client_id: '848232511240-73ri3t7plvk96pj4f85uj8otdat2alem.apps.googleusercontent.com',
  code: "", # <--- Insert token from google here
}
uri = 'https://accounts.google.com/o/oauth2/token'
response = clnt.post(uri, body)
body = response.body
hash = JSON.parse body
token = hash["id_token"]

client = Poke::API::Client.new
google = Poke::API::Auth::GOOGLE.new("username", "password")
google.instance_variable_set(:@access_token, token)
client.instance_variable_set(:@auth, google)
client.instance_eval { fetch_endpoint }
