<%= render 'layouts/sidebar' %>

<div class="show-pokemon-container">
  <%= render partial: 'users/pokemon_list', locals: {:pokemon_list => @pokemon} %>
</div>

<div class="loading">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

<style type='text/css'>
  #logo { padding-left: 4.8rem; }
</style>
