<div class="container-fluid">
  <h1><%= @user.name %></h1>
  <div class="col-md-4">
    <% if @user.items.any? %>
      <% count = 0 %>
      <% @user.items.each do |item| %>
        <% count += item[:count] %>
      <% end %>
      <h3>Items (<%= count %>)</h3>
      <ol class="items">
        <%= render @user.items %>
      </ol>
    <% end %>
  </div>
  <div class="col-md-8">
    <div class="row">
      <% if @user.pokemon.any? %>
        <%= render @user.pokemon %>
      <% end %>
    </div>
  </div>
</div>
