<%= render 'layouts/sidebar' %>
<div class="show-pokemon-container">
  <%= render partial: 'users/pokemon_list', locals: {:pokemon_list => @pokemon} %>
</div>

<style>
#logo {
  padding-left: 4.8rem;
}
</style>
