/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'bootstrap-social';

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* header */

.navbar {
  margin-bottom: 0px;
}
#logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
}

#logo:hover {
  color: gray;
  text-decoration: none;
}

body {
  //padding-top: 70px; // This is to allow for fixed navbar at top.
}
.alert {
  text-align: center;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
@media (max-width: 768px){
  .alert {
    //margin-left: 6rem;
  }
  header {
    ul{
      text-align: right;
      button {
        margin-right: 7px;
      }
      li {
        display: inline;
        a {
          display: block;
          text-align: right;
        }
      }
    }
    .form-control {
      margin-left: 6rem;
      width: 91%;
    }
    /* webkit */
    ::-webkit-input-placeholder { 
      text-align:right; 
    }
    /* mozilla */
    input:-moz-placeholder { 
      text-align:right; 
    }
  }
}
// To override style to 'display: inline-block;' from font-awesome rails gem
.fa {
  display: table-cell;
}
