@mixin center-absolute{
  left: 50%;
  right: 50%;
  transform: translate(-50%,0%);
}
@mixin metadata{
  position: absolute;
  z-index: 1;
  font-size: 1.2rem;
  color: rgba(0,0,0,.46);
}
.pokemon-card {
  height: 25rem;
  position: relative;
  table {
    width: 100%;
  }
  .number{
    @include metadata;
    top: 5px;
    left: 7px;
  }
  .level{
    @include metadata;
    top: 3rem;
    left: 7px;
    font-weight: bolder;
  }
  .hidden{
    display: none;
  }
  .weight{
    @include metadata;
    right: 7px;
    top: 2rem;
  }
  .height{
    @include metadata;
    right: 7px;
    top: 5px;
  }
  .attacked{
    @include metadata;
    width: 10%;
    top: 5.3rem;
    left: 7px;
    span {
      font-size: 1.8rem;
    }
    .fa-2x{
      font-size: 1.4rem;
    }
  }
  .defended{
    @include metadata;
    width: 10%;
    left: 7px;
    top: 7.3rem;
    span {
      font-size: 1.8rem;
    }
    .fa-2x{
      font-size: 1.4rem;
    }
  }
  .name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.9rem;
    font-weight: bold;
    position: relative;
  }
  .CP{
    font-size:1.9rem;
    text-align: right;
  }
  .image-box{
    overflow: hidden;
    background-color: #eeeeee;
    position: relative;
    width: 100%;
    height: 9.7rem;
    img{
      z-index: 0;
      position: absolute;
      @include center-absolute;
      max-height: 100%;
      max-width: 100%;
    }
  }
  .data{
    .big-bars{
      margin-bottom: .6rem;
      .progress{
        height: 2.2rem;
        margin-bottom: .3rem;
        .progress-bar{
          font-size: 1.3rem;
          line-height: 2.3rem;
        }
      }
    }
    .small-bars{
      .progress{
        height: 1.6rem;
        margin-bottom: .3rem;
        .progress-bar{
          font-size:1.1rem;
          line-height:1.6rem;
        }
      }
      .IV {
        font-size: 1.2rem;
      }
      .IV-bar{
        width: 86%;
      }
    }
  }
}
