:root {
  font-size: 10px;
}
@mixin data-color{
  background-color: #999999;
  color: white;
}
@mixin center-absolute{
  left: 50%;
  right: 50%;
  transform: translate(-50%,0%)
}
/* pokemon */
.pokemon-card{
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.pokemon {
  border-bottom-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
  //border-bottom: 3px solid #2980b9;
  overflow: hidden;
  text-align: center;
  height: 25rem;
  position: relative;
  width: 100%;
  table{
    position: absolute;
    bottom: 0px;
    width: 100%;
    tr {
      height: 5rem;
      position: relative;
      z-index: 1;
      @include data-color;
    }
  }
  .CP{
    position: relative;
    font-weight: bold;
    .CP-text{
      position: relative;
      z-index: 1;
    }
    font-size: 3rem;
    border-left: 1px solid rgba(255,255,255,.5);
  }
  .IV {
    font-size: 2rem;
    opacity: .75;
  }
  .HP {
    font-size: 1.7rem;
    border-left: 1px solid rgba(255,255,255,.5);
    opacity: .75;
  }
  .image-box{
    position: absolute;
    top: 4rem;
    left: 0px;
    width: 100%;
    height: 16rem;
    .NUM{
      font-size: 1.2rem;
      position: absolute;
      left: 3px;
      top: 3px;
      color: lightgray;
      z-index: 1;
    }
    img{
      z-index: 0;
      position: absolute;
      bottom: 1px;
      @include center-absolute;
      max-height: 100%;
      max-width: 100%;
    }
  }
  .name {
    font-weight: bold;
    background-color: #3793d4;
    color: white;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    position: relative;
    font-size: 3rem;
    height: 4rem;
    z-index: 1;
  }
}
@media (max-width: 1262px){
  :root {
    font-size: 8px;
  }
}
@media (max-width: 515px){
  :root {
    font-size: 5px;
  }
}
@media (max-width: 318px){
  :root {
    font-size: 4px;
  }
}
