/* pokemon */
.pokemon-card{
  padding-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.pokemon {
  //overflow: hidden;
  text-align: center;
  height: 250px;
  //box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  //transition: 0.3s;
  //border-radius: 5px;
  position: relative;
  width: 100%;
  .data {
    z-index: 1;
    position:absolute;
    width: 100%;
    margin: 0;
    font-size: 150%;
  }
  .CP{
    top: 5px;
  }
  .IV {
    top: 25px;
  }
  .name {
    bottom: 3px;
  }
  img {
    z-index: 0;
    max-width: 95%;
    max-height: 70%;
    position: absolute;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
  }
}
//.pokemon:hover {
  //box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
//}
@media (max-width: 1333px){
  .pokemon {
    height: 192px;
  }
}
@media (max-width: 1111px){
  .pokemon {
    height: 150px;
  }
}
