// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-page {
  .landing-title{
    display: block;
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
  h1 {
    a {
      font-size: 17px;
      font-weight: 250;
      letter-spacing: 5px;
    }
  }
  li {
    font-size: 20px;
    text-decoration: none;
  }
  .features-list{
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .features-image{
    img {
      max-width: 100%;
    }
  }
}
