<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4">
      <div class="value-header">Combat Power</div>
      <% if @pokemon_cp.any? %>
        <ul>
          <% rank = 1 %>
          <% @pokemon_cp.each do |p| %>
            <li>
              <%= render partial: 'pokemons/pokemon', locals: {:pokemon => p, :img => rank_image(rank)} %>
            </li>
            <% rank += 1 %>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="col-xs-4">
      <div class="value-header">Individual Values</div>
      <% if @pokemon_iv.any? %>
        <ul>
          <% rank = 1 %>
          <% @pokemon_iv.each do |p| %>
            <li>
              <%= render partial: 'pokemons/pokemon', locals: {:pokemon => p, :img => rank_image(rank)} %>
            </li>
            <% rank += 1 %>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="col-xs-4">
      <div class="value-header">Battles Won</div>
      <% if @pokemon_won.any? %>
        <ul>
          <% rank = 1 %>
          <% @pokemon_won.each do |p| %>
            <li>
              <%= render partial: 'pokemons/pokemon', locals: {:pokemon => p, :img => rank_image(rank)} %>
            </li>
            <% rank += 1 %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
