<nav class="main-menu">
  <ul>
    <li ng-click="getOrder('cp')">
      <a>
        <i class="fa fa-hand-rock-o fa-2x"></i>
        <span class="nav-text">
          Combat Power
        </span>
      </a>
    </li>
    <li ng-click="getOrder('iv')">
      <a>
        <i class="fa fa-tasks fa-2x"></i>
        <span class="nav-text">
          Individual Values
        </span>
      </a>
    </li>
    <li ng-click="getOrder('creation_time_ms')">
      <a>
        <i class="fa fa-clock-o fa-2x"></i>
        <span class="nav-text">
          Recent
        </span>
      </a>
    </li>
    <li ng-click="getOrder('max_cp')">
      <a>
        <i class="fa fa-line-chart fa-2x"></i>
        <span class="nav-text">
          Max CP
        </span>
      </a>
    </li>
    <li ng-click="getOrder('poke_id')">
      <a>
        <i class="fa fa-font fa-2x"></i>
        <span class="nav-text">
          Name
        </span>
      </a>
    </li>
    <li ng-click="getOrder('poke_num')">
      <a>
        <i class="fa fa-sort-numeric-asc fa-2x"></i>
        <span class="nav-text">
          Number
        </span>
      </a>
    </li>
    <li ng-click="getOrder('battles_attacked')">
      <a>
        <i class="fa fa-trophy fa-2x"></i>
        <span class="nav-text">
          Battles Attacked
        </span>
      </a>
    </li>
    <li ng-click="getOrder('battles_defended')">
      <a>
        <i class="fa fa-flag fa-2x"></i>
        <span class="nav-text">
          Battles Defended
        </span>
      </a>
    </li>
    <li ng-click="getOrder('height_m')">
      <a>
        <i class="fa fa-street-view fa-2x"></i>
        <span class="nav-text">
          Height (m)
        </span>
      </a>
    </li>
    <li ng-click="getOrder('weight_kg')">
      <a>
        <i class="fa fa-anchor fa-2x"></i>
        <span class="nav-text">
          Weight (kg)
        </span>
      </a>
    </li>
  </ul>
</nav>
