<nav class="main-menu">
  <ul>
    <li>
      <order-button id="cp">
        <i class="fa fa-hand-rock-o fa-2x"></i>
        <span class="nav-text">
          Combat Power
        </span>
      </order-button>
    </li>
    <li>
      <order-button id="iv">
        <i class="fa fa-tasks fa-2x"></i>
        <span class="nav-text">
          Individual Values
        </span>
      </order-button>
    </li>
    <li>
      <order-button id="recent">
        <i class="fa fa-clock-o fa-2x"></i>
        <span class="nav-text">
          Recent
        </span>
      </order-button>
    </li>
    <li>
      <order-button id="health">
        <i class="fa fa-heart fa-2x"></i>
        <span class="nav-text">
          Max Health
        </span>
      </order-button>
    </li>
    <li>
      <order-button id="atk">
        <i class="fa fa-bomb fa-2x"></i>
        <span class="nav-text">
          Attack
        </span>
      </order-button>
    </li>
    <li>
      <order-button id="def">
        <i class="fa fa-shield fa-2x"></i>
        <span class="nav-text">
          Defense
        </span>
      </order-button>
    </li>
    <li>
      <order-button id="sta">
        <i class="fa fa-hourglass fa-2x"></i>
        <span class="nav-text">
          Stamina
        </span>
      </order-button>
    </li>
    <li>
      <order-button id="name">
        <i class="fa fa-font fa-2x"></i>
        <span class="nav-text">
          Name
        </span>
      </order-button>
    </li>
    <li>
      <order-button id="num">
        <i class="fa fa-sort-numeric-asc fa-2x"></i>
        <span class="nav-text">
          Number
        </span>
      </order-button>
    </li>
    <li>
      <order-button id="attack">
        <i class="fa fa-trophy fa-2x"></i>
        <span class="nav-text">
          Battles Attacked
        </span>
      </order-button>
    </li>
    <li>
      <order-button id="defend">
        <i class="fa fa-flag fa-2x"></i>
        <span class="nav-text">
          Battles Defended
        </span>
      </order-button>
    </li>
    <li>
      <order-button id="height">
        <i class="fa fa-street-view fa-2x"></i>
        <span class="nav-text">
          Height (m)
        </span>
      </order-button>
    </li>
    <li>
      <order-button id="weight">
        <i class="fa fa-anchor fa-2x"></i>
        <span class="nav-text">
          Weight (kg)
        </span>
      </order-button>
    </li>
  </ul>
</nav>
